@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2016/01/23/14/55/canada-1157521_960_720.jpg");
    background-size:cover;
    font-family: Roboto;
   
    
 
}

.topo {   
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;

}


.container   {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  opacity: 0.9;
  padding: 20px;
  border-radius: 10px;

  
}


.question{
    font-size:2rem;
    font-weight: 700;
    padding-bottom: 2rem;
    text-align:center;

}

.btn {
  
    font-size: 1.5rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 20px;
    cursor: pointer;
    border:0.20em solid white;
    transition: 0.3s;
    

    



   
}

.btn:hover{
    border-color: black;
}

.options {
    display: grid;
    font-weight: 400;


}

.controls {
display: flex;
justify-content: center;
gap:50px;

}

.btn-controls{
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 20px;
    transition: 0.4s;
    cursor: pointer;
    color: black;
    font-weight: bold;
    background-color: white;
    border:0.10em solid;



}

.btn-controls:hover {
    background-color: rgb(227, 221, 221);
    color: black;
}

.btn-controls:active {
    background-color: #34677e;
    outline: none;
}

.btn.correct{
    background-color: green;
    color: black;
}

.btn.wrong {
    background-color: red;


}

.hide{
    display: none;
}



